In [14]:
__author__ = "Dara da Silva Weirich"
__copyright__ = "Copyright 2022"
__version__ = "1.0"
__email__ = "s3193076@stud.uni-frankfurt.de"
__status__ = "Development"

# IMPORTS
import pandas as pd
import streamlit as st

### 3) From a public repository (see list below), choose a dataset for a medical use case with a large amount of instances that you can apply stream mining on and give a description of the dataset (1 slide).

In [18]:
file = r"C:\Users\Dara\OneDrive\Master\Data Science\HCV-Egy-Data\HCV-Egy-Data.csv"
df = pd.read_csv(file)
df.head()

,Age,Gender,BMI,Fever,Nausea/Vomting,Headache,Diarrhea,Fatigue & generalized bone ache,Jaundice,Epigastric pain,...,ALT 36,ALT 48,ALT after 24 w,RNA Base,RNA 4,RNA 12,RNA EOT,RNA EF,Baseline histological Grading,Baselinehistological staging
0,56,1,35,2,1,1,1,2,2,2,...,5,5,5,655330,634536,288194,5,5,13,2
1,46,1,29,1,2,2,1,2,2,1,...,57,123,44,40620,538635,637056,336804,31085,4,2
2,57,1,33,2,2,2,2,1,1,1,...,5,5,5,571148,661346,5,735945,558829,4,4
3,49,2,33,1,2,1,2,1,2,1,...,48,77,33,1041941,449939,585688,744463,582301,10,3
4,59,1,32,1,1,2,1,2,2,2,...,94,90,30,660410,738756,3731527,338946,242861,11,1

### 4) Choose a column of the dataset chosen under 3) such that there are many repetitions of values in the column. Apply one-hot encoding to the column (thus, generating several new columns).

In [3]:
# Number of Occurences And Distinct Values
df.BMI.value_counts()

34    118
24    112
28    107
33    104
31    104
35    100
27     99
23     97
22     96
30     95
29     93
25     92
32     90
26     78
Name: BMI, dtype: int64

In [4]:
# ONE-HOT ENCODING
df_with_dummies = pd.get_dummies(df.BMI)
df_with_dummies.head()

   22  23  24  25  26  27  28  29  30  31  32  33  34  35
0   0   0   0   0   0   0   0   0   0   0   0   0   0   1
1   0   0   0   0   0   0   0   1   0   0   0   0   0   0
2   0   0   0   0   0   0   0   0   0   0   0   1   0   0
3   0   0   0   0   0   0   0   0   0   0   0   1   0   0
4   0   0   0   0   0   0   0   0   0   0   1   0   0   0

In [5]:
chosen_column = list(df_with_dummies[35])

### 5) Choose a public implementation of the DGIM algorithm and apply it on one of the columns generated under 4) such that the column and the window length N can be flexibly set as parameters. Report on the implementation (1 slide).

In [6]:
# SMALL EXAMPLE OF THE Dgim PACKAGE
from dgim import Dgim
dgim = Dgim(N=32, error_rate=0.1)
for i in range(100):
    dgim.update(True)
dgim_result = dgim.get_count() # 30 (exact result is 32)
dgim_result

30

In [7]:
# APPLIED ON OUR DATA SET
dgim = Dgim(N=1385, error_rate=0.1)

for i in range(len(chosen_column)):
    if chosen_column[i] == 1:
        dgim.update(True)
    else:
        dgim.update(False)
    
dgim_result = dgim.get_count()
dgim_result

96

In [8]:
# COMPARE OUR RESULT WITH THE TRUTH
no_ones = len([x for x in chosen_column if x == 1])
print(no_ones)

100